<launch>

<!-- node to calculate the path and to store camera parameters -->
<rosparam command="load" file="$(find dji_sdk_demo)/yaml/camera_settings.yaml" />
<node pkg="dji_sdk_demo" type="path_planner" name="path_maker" output="screen" launch-prefix="gnome-terminal --command">
</node>

	
</launch>
