<launch>

<!-- node to calculate the path and to store camera parameters -->

<node pkg="dji_sdk_demo" type="path_planner" name="path_maker" output="screen" launch-prefix="gnome-terminal --command">
<rosparam command="load" file="$(find dji_sdk_demo)/yaml/camera_settings.yaml" />
</node>


	
</launch>
