<launch>
<node pkg="dji_sdk_demo" type="storage" name="xml_storer" output="screen">
</node>
<!-- node to be used as rosbag  (We can change the name to other thing)-->
    <node pkg="rosbag" type="play" args="-o $(find dji_sdk_demo)/bags/Recording -a" name="reflight" output="screen"/>

	<!-- topics to collect: /dji_sdk/localposition ; /dji_sdk/gps_position-->

	<!-- topics to collect:-a -->

<!-- node to calculate the path and to store camera parameters -->

</launch>
